[submodule "obsidian-skills"]
	path = obsidian-skills
	url = git@github.com:kepano/obsidian-skills.git
[submodule "paper-framework-figure-studio-pro"]
	path = paper-framework-figure-studio-pro
	url = https://github.com/c-narcissus/paper-framework-figure-studio-pro.git
[submodule "andrej-karpathy-skills"]
	path = andrej-karpathy-skills
	url = https://github.com/forrestchang/andrej-karpathy-skills.git
[submodule "nature-skills"]
	path = nature-skills
	url = https://github.com/Yuan1z0825/nature-skills.git
[submodule "paper-deep-reading-skill"]
	path = paper-deep-reading-skill
	url = https://github.com/Eroticoo/paper-deep-reading-skill.git
[submodule "ppt-master-skill"]
	path = ppt-master-skill
	url = https://github.com/hugohe3/ppt-master.git
[submodule "ui-ux-pro-max-skill"]
	path = ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "ui-design-brain"]
	path = ui-design-brain
	url = https://github.com/carmahhawwari/ui-design-brain.git
[submodule "oh-my-claudecode"]
	path = oh-my-claudecode
	url = https://github.com/Yeachan-Heo/oh-my-claudecode.git
[submodule "paper-ppt-agent"]
	path = paper-ppt-agent
	url = https://github.com/CRui5in/paper-ppt-agent.git
[submodule "Awesome-Prompts"]
	path = Awesome-Prompts
	url = https://github.com/dongshuyan/Awesome-Prompts.git
[submodule "impeccable"]
	path = impeccable
	url = https://github.com/pbakaus/impeccable.git
[submodule "starghlist"]
	path = starghlist
	url = https://github.com/petarov/starghlist.git
